#
# Azure Pipelines configuration for building and testing create-react-app on Linux, Windows, and macOS.
#

trigger:
- master

variables:
  matrix:
    LinuxNode8:
      NODE_VERSION: 8.x
      VM_IMAGE: 'ubuntu-16.04'
    LinuxNode10:
      NODE_VERSION: 10.x
      VM_IMAGE: 'ubuntu-16.04'
    MacNode8:
      NODE_VERSION: 8.x
      VM_IMAGE: 'macOS-10.13'
    MacNode10:
      NODE_VERSION: 10.x
      VM_IMAGE: 'macOS-10.13'
    WindowsNode8:
      NODE_VERSION: 8.x
      VM_IMAGE: 'vs2017-win2016'
    WindowsNode10:
      NODE_VERSION: 10.x
      VM_IMAGE: 'vs2017-win2016'

jobs:
- job: Simple
  strategy:
    matrix:
      ${{ insert }}: ${{ variables.matrix }}
  pool: 
    vmImage: $(VM_IMAGE)
  steps:
    - template: azure-pipelines-steps.yml
    - script: tasks/e2e-simple.sh
      displayName: 'Run tests'

- job: Installs
  strategy:
    matrix:
      ${{ insert }}: ${{ variables.matrix }}
  pool: 
    vmImage: $(VM_IMAGE)
  steps:
    - template: azure-pipelines-steps.yml
    - script: tasks/e2e-installs.sh
      displayName: 'Run tests'

- job: KitchenSink
  strategy:
    matrix:
      ${{ insert }}: ${{ variables.matrix }}
  pool: 
    vmImage: $(VM_IMAGE)
  steps:
    - template: azure-pipelines-steps.yml
    - script: tasks/e2e-kitchensink.sh
      displayName: 'Run tests'

- job: KitchenSinkEject
  strategy:
    matrix:
      ${{ insert }}: ${{ variables.matrix }}
  pool: 
    vmImage: $(VM_IMAGE)
  steps:
    - template: azure-pipelines-steps.yml
    - script: tasks/e2e-kitchensink-eject.sh
      displayName: 'Run tests'

- job: OldNode
  strategy:
    matrix:
      ${{ insert }}: ${{ variables.matrix }}
  pool: 
    vmImage: $(VM_IMAGE)
  steps:
    - template: azure-pipelines-steps.yml
    - script: tasks/e2e-old-node.sh
      displayName: 'Run tests'

- job: Behavior
  strategy:
    matrix:
      ${{ insert }}: ${{ variables.matrix }}
  pool: 
    vmImage: $(VM_IMAGE)
  steps:
    - template: azure-pipelines-steps.yml
    - script: tasks/e2e-behavior.sh
      displayName: 'Run tests'
